body {
  background: $bg-color;
}

h1 {
  color: $dark-red-text;
}

h2 {
  color: $black-text;
}

.container {
  width: 90%;
  margin-left: 5%;
}

.new-msg-form {
  position: relative;
  margin: 20px 0;

  input {
    margin-bottom: 10px;
    display: block;
  }
}
